<?php

define('USER', str_replace(' ', '_', get_current_user()));

/**
  * Environments to be loaded on initialization.
  * These environments are shared and not used by any single person.
  */
const ENVIRONMENTS = ['Development', 'Production'];

/**
  * Environment permissions.
  */

const PERMISSION_SET = [
  'ADD_MIGRATION' => true,
  'RUN_MIGRATION' => true,
  'ADD_REVISION'  => true,
  'RUN_REVISION'  => true,
  'UPDATE_GIT'    => true,
];

global $PERMISSIONS;
$PERMISSIONS =  [];
foreach(ENVIRONMENTS as $env)
{
  $PERMISSIONS[$env] = PERMISSION_SET;
}

$PERMISSIONS['Development']['ADD_MIGRATION'] = false;
$PERMISSIONS['Development']['ADD_REVISION'] = false;

$PERMISSIONS['Production']['ADD_MIGRATION'] = false;
$PERMISSIONS['Production']['RUN_MIGRATION'] = false;
$PERMISSIONS['Production']['ADD_REVISION'] = false;

/**
  * Authentication data for access to Nightingale itself
  * If you leave any of the two constants below blank, authentication will be disabled
  */
define('NIGHTINGALE_USERNAME', 'admin');
define('NIGHTINGALE_PASSWORD', 'password');

define('DB_ADAPTER', 'MySQL');

define('DS', DIRECTORY_SEPARATOR);
define('NIGHTINGALE_ROOT_PATH', dirname(__FILE__));

/**
  * Only edit this lines if you want to place your schema files in custom locations
  */
define('NIGHTINGALE_DATA_PATH_RELATIVE', 'data');
define('NIGHTINGALE_DATA_PATH', NIGHTINGALE_ROOT_PATH . DS . NIGHTINGALE_DATA_PATH_RELATIVE);

define('NIGHTINGALE_REVISIONS_PATH_RELATIVE', NIGHTINGALE_DATA_PATH_RELATIVE . DS . 'revisions');
define('NIGHTINGALE_REVISIONS_PATH', NIGHTINGALE_ROOT_PATH . DS . NIGHTINGALE_REVISIONS_PATH_RELATIVE);

define('NIGHTINGALE_META_PATH_RELATIVE', 'meta');
define('NIGHTINGALE_META_PATH', NIGHTINGALE_DATA_PATH . DS . NIGHTINGALE_META_PATH_RELATIVE);

define('NIGHTINGALE_SQLITE_PATH_RELATIVE', 'sqlite');
define('NIGHTINGALE_SQLITE_PATH', NIGHTINGALE_ROOT_PATH . DS . NIGHTINGALE_SQLITE_PATH_RELATIVE);

define('NIGHTINGALE_MIGRATIONS_PATH_RELATIVE', NIGHTINGALE_DATA_PATH_RELATIVE . DS . 'migrations');
define('NIGHTINGALE_MIGRATIONS_PATH', NIGHTINGALE_ROOT_PATH . DS . NIGHTINGALE_MIGRATIONS_PATH_RELATIVE);

define('NIGHTINGALE_SCHEMA_PATH_RELATIVE', NIGHTINGALE_DATA_PATH_RELATIVE . DS . 'schema');
define('NIGHTINGALE_SCHEMA_PATH', NIGHTINGALE_ROOT_PATH . DS . NIGHTINGALE_SCHEMA_PATH_RELATIVE);

define('BASE_URL', '/nightingale');

define('NIGHTINGALE_GIT_BRANCH', 'dev');

ini_set('magic_quotes_gpc', 'Off');
error_reporting(E_ALL ^ E_NOTICE);

/**
  * I18n support
  */
define('NIGHTINGALE_LANGUAGES_PATH', NIGHTINGALE_ROOT_PATH . DS . 'languages');
define('DEFAULT_LOCALE', 'en_US');
define('DEFAULT_ENCODING', 'UTF-8');
define('DEFAULT_DOMAIN', 'default');

putenv("LC_ALL=".DEFAULT_LOCALE);
setlocale(LC_ALL, DEFAULT_LOCALE);

bindtextdomain(DEFAULT_DOMAIN, NIGHTINGALE_LANGUAGES_PATH);
bind_textdomain_codeset(DEFAULT_DOMAIN, DEFAULT_ENCODING);
textdomain(DEFAULT_DOMAIN);
