body {
  min-width:225px;
}

/* Scroll bar*/

.material-scrollbar::-webkit-scrollbar-track
{
    background-color: transparent;
}

.material-scrollbar::-webkit-scrollbar
{
    width: 3px;
    background-color: transparent;
}

.material-scrollbar::-webkit-scrollbar-thumb
{
    background-color: #dbdbdb;
}

h1.inline-header,
h2.inline-header,
h3.inline-header,
h4.inline-header {
  display: inline-block;
  vertical-align: baseline;
  line-height: 100%;
}
#left-container {
  margin:0px;
}
#left-body {
  overflow-y:auto;
}
@media (max-width: 768px) {
  #left-body {
    max-height:250px !important;
  }
}

.btn-font {
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

.btn-nav {
  padding:20px 15px;
  line-height:20px;
  margin:0px;
  color: inherit !important;
}
@media (max-width: 768px) {
  .btn-nav {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (max-width: 1199px) {
  .btn-nav {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .btn-nav {
    width:100%;
    text-align: left;
  }
}

.error-message, .success-message {
    position: fixed;
    top: 10px;
    right: 10px;
}

.inline {
  display: inline;
}

.panel-heading-checkbox {
  margin-top:-3px;
}

span.check {
  background-color:white;
}

.nav-tabs li.active>a, .nav-tabs li>a:focus, .nav-tabs li>a:hover {
  background-color: rgba(255,255,255,.1) !important;
  border-radius: initial;
}

.table-hover .pointer:hover {
  cursor: pointer;
}

.single-line {
  height: 3.6em;
  max-height: 3.6em;
  overflow:auto;
}
